<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Introduction à un gestionnaire de contenu</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quelles sont les notions que vous avez retenues)?</h4>
            <p>Nous avons appris à installer, à configurer, à mettre à jour et à créer un thème. Des fonctionnalités supplémentaires ont aussi été traitées (snippets, css).</p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris)?</h4>
            <p>Nous avons utilisé Wordpress dans le cadre de la formation.</p>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés)?</h4> 
            <ul>
                <li>
                    Site MontVoyage - Site de voyage et randonnées en montagne
                </li>
                <li>
                    Nous avons utiliser ce projet dans le cadre de notre travail synthèse et lors du TP1. Nous avions à modifier différents aspects et inclure les notions acquises dans la formation.
                </li>
            </ul>
        </section>
    </main>
</body>

</html>