<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Création et design de sites Web</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quelles sont les notions que vous avez retenues)?</h4>
            <p>Ce cours a pour objectif de consolider la compréhension des langages de balisage et de la mise en page de sites Web.
                De plus, des notions plus avancées de design et d’ergonomie seront abordées. À la fin de ce cours, vous serez en mesure
                d’adapter un design et de réaliser une maquette en HTML/CSS.
            </p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris)?</h4>
            <ul>
                <li>
                    Adobe Xd;
                </li>
                <li>
                    Visual Studio Code.
                </li>
            </ul>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés)?</h4>
            <ul>
                <li>
                    TP1 : Conception d’une maquette simple;
                </li>
                <li>
                    TP2 : Conception d’une maquette interactive mobile;
                </li>
                <li>
                    TP3 : Adaptation du style d’un site web; 
                </li>
                <li>
                    Travail synthèse : Création d’un site web interactif à partir d’une mise en situation.
                </li>
            </ul>            
        </section>
    </main>
</body>

</html>