<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CMS 1</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Environnement de développement Web 1</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quels sont les notions que vous avez retenues)?</h4>
            <p>Ce cours porte sur l’installation et la configuration d’un environnement de travail local pour le développement Web. Vous
                vous familiariserez avec les principaux serveurs Web et vous apprendrez à reconnaître leurs caractéristiques respectives
                ainsi que celles des différents systèmes d’exploitation. De plus, les notions de base des interfaces en ligne de commande
                et des systèmes de gestion de version du code source seront abordées.
            </p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris)?</h4>
            <ul>
                <li>Unbuntu</li>
                <li>WordPress</li>
                <li>VirtualBox</li>
            </ul>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés)?</h4>            
            <ul>
                <li>Connexion à un serveur distant</li>
                <li>Étude technique d'un projet</li>
                <li>Etc.</li>
            </ul>
        </section>
    </main>
</body>

</html>