<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CMS 1</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Environnement de développement Web 2</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quelles sont les notions que vous avez retenues)?</h4>
            <p>Ce cours aborde les enjeux liés aux environnements de développement Web et aux environnements de production. Il vous
                apprendra notamment à installer les protocoles de communication courants dans un environnement Web distant et à
                configurer un serveur en fonction de besoins spécifiques. Aussi, vous apprendrez comment sécuriser un serveur Web et
                vous découvrirez les applications contre les cyberattaques les plus courantes.
            </p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris)?</h4>
            <ul>
                <li>AWS</li>
                <li>WordPress avançé</li>
                <li>FileZilla</li>
            </ul>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés)?</h4>            
            <ul>
                <li>Création et gestion d'un serveur AWS</li>
                <li>Création d'un site web avec WordPress</li>
                <li>Mise en ligne d'un site web</li>
            </ul>
        </section>
    </main>
</body>

</html>