<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Programmation d'interface Web1</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quelles sont les notions que vous avez retenues) ?</h4>
            <p>
                Dans ce cours d'introduction à la programmation côté client, vous apprendrez à manipuler les composantes d'une
                page Web, à y ajouter de l'interactivité et à traiter des données dynamiques. De plus, vous serez initié aux principes de la
                programmation orientée objet (POO).
            </p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris) ?</h4>
            <ul>
                <li>Visual Studio Code (avec Vue.js)</li>
            </ul>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés) ?</h4>     
            <ul>
                <li>Exercice 1 - Création d'une page qui ajoute une nouvelle image lors d'un clic sur un lien</li>
                <li>TP1 - Répondre aux 8 questions qui sont sous forme de petits exercices</li>
                <li>TP2 - Créer un formulaire qui permet de répéter une phrase un certain nombre de fois avec un choix de couleur pour le texte et la couleur de fond sans recharger la page</li>
                <li>Examen de mi-session - Création d'un carré par JS qui bouge de façon aléatoire lorsqu'on clique dessus, ainsi que des boutons pour changer sa couleur</li>
                <li>Examen synthèse - Créer une page Web qui permet de personnaliser une émoticône en temps réel sans devoir actualiser la page</li>
            </ul>       
        </section>
    </main>
</body>

</html>
