<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Programmation Web Dynamique</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quels sont les notions que vous avez retenues)?</h4>
                <p>
                    Ce deuxième cours de programmation côté serveur a pour objectif d’apprendre à utiliser une base de données. Plus
                    précisément, vous apprendrez à vous connecter à une base de données par programmation, à créer des structures de
                    données, à effectuer des opérations et à traiter les données afin de produire une réponse à une requête HTTP
                </p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris)?</h4>
            <ul>
                <li>Visual Studio Code</li>
                <li>PHPMyAdmin</li>
                <li>XAMPP</li>
            </ul>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés)?</h4>  
            <ul>
                <li>TP1 - Création d'une base de données respectant le devis fourni</li>
                <li>TP2 - Création d'une base de données ayant pour thème l'actualité, des pages pour ajouter des données ainsi qu'une page pour voir les actualités sélectionnées</li>
                <li>Examen de mi-session pratique - Création d'une base de données ayant pour thème une compétition sportive</li>
                <li>Examen synthèse pratique - Création d'une base de données et d'une page web ayant pour thème une to-do list</li>
            </ul>          
        </section>
    </main>
</body>

</html>