<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1> Programmation d’interface Web 2</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quels sont les notions que vous avez retenues)?</h4>
            <p>Nous avons appris la programmation orientée objet (POO) des interfaces. Nous avons utilisé les requêtes asynchrones pour mettre à jour ces interfaces. Les concepts avancés en programmation côté client tels que le routage et les gestionnaires d’état ont également été abordés.</p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris)?</h4>
            <p>Nous avons appris à utiliser le langage JavaScript</p>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés)?</h4>
            <ul>
                <li>
                    Nous avons fait quelques exercices (défis) pour la compréhension des nouveaux concepts.
                    Nous avons fait un compteur dont la valeur augmente en appuyant sur un bouton.
                    Nous avons fait un exercice sur le "drag" qui consistait à prendre un carré, cliquer dessus et le déplacer.
                    Nous avons fait un TP1 qui consistait à répondre à 7 questions en utilisant les concepts nuvellement appris.
                    Nous avons fait un exercice qui consistait à créer un bouton du genre "toggle".
                    Nous avons fait un exercice "Tic Tac Toe".
                    Nous avons fait un exercice "Jeux de société" qui consistait à cliquer sur une image de jeu pour avoir les informations sans recharger la page.
                    Et pour terminer le cours, nous avons fait un travail Synthèse qui consistait à reproduire un lecteur de musique genre Spotify.
                </li>
            </ul>
        </section>
    </main>
</body>

</html>