<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Programmation d'interface Web 2</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quelles sont les notions que vous avez retenues) ?</h4>
            <p>Nous avons appris la programmation orientée objet (POO) pour les interfaces. Nous avons utilisé des requêtes asynchrones pour mettre à jour ces interfaces. Des concepts avancés en programmation côté client, tels que le routage et les gestionnaires d'état, ont également été abordés.</p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris) ?</h4>
            <p>Nous avons appris à utiliser le langage JavaScript.</p>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés) ?</h4>
            <ul>
                <li>Nous avons réalisé quelques exercices (défis) pour comprendre les nouveaux concepts.</li>
                <li>Nous avons créé un compteur dont la valeur augmente en appuyant sur un bouton.</li>
                <li>Nous avons réalisé un exercice de "drag and drop" qui consistait à prendre un carré, cliquer dessus et le déplacer.</li>
                <li>Nous avons réalisé un TP1 qui consistait à répondre à 7 questions en utilisant les concepts nouvellement appris.</li>
                <li>Nous avons réalisé un exercice qui consistait à créer un bouton de type "toggle".</li>
                <li>Nous avons réalisé un exercice de "Tic Tac Toe".</li>
                <li>Nous avons réalisé un exercice de "Jeux de société" qui consistait à cliquer sur une image de jeu pour obtenir des informations sans recharger la page.</li>
                <li>Enfin, pour conclure le cours, nous avons réalisé un projet de synthèse qui consistait à reproduire un lecteur de musique similaire à Spotify.</li>
            </ul>
        </section>
    </main>
</body>

</html>
