<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Projet Web 1</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quelles sont les notions que vous avez retenues) ?</h4>
            <p>Ce cours nous a permis de consolider nos connaissances en créant et en mettant en ligne un site Web dynamique complet. Plus spécifiquement, à partir d'un design et d'un cahier des charges spécifique, nous avons réalisé la conception, la programmation, l'intégration et la mise en ligne d'un site Web.</p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris) ?</h4>
            <ul>
                <li>PHP</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>FileZilla</li>
            </ul>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés) ?</h4>
            <p>Nous avons réalisé un site Web que nous avons ensuite mis en ligne.</p>
        </section>
    </main>
</body>

</html>
