<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="membre1">
        <h1>Design UX/UI appliqué au projet</h1>        
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Connaissances</h3>
            <h4>Théoriques (quels sont les notions que vous avez retenues)?</h4>
            <p>Au terme de ce cours, vous aurez développé une maquette complète en HTML/CSS qui répond à un besoin spécifique.
                Vous apprendrez aussi à définir les paramètres de test de l’interface Web</p>
            <h4>Pratiques (quels sont les logiciels que vous avez appris)?</h4>
            <ul>
                <li>
                    Adobe XD
                </li>
            </ul>
            <h4>Conditionnelles (quels sont les projets que vous avez réalisés)?</h4>
            <ul>
                <li>
                    Maquette d'un Persona;
                </li>
                <li>
                    Maquette interactive d’une page d’accueil;
                </li>
                <li>
                    Production des documents guides nécessaires à la production des maquettes;
                </li>
                <li>
                    Production d'une maquette à partir du document guide.
                </li>
            </ul>            
        </section>
    </main>
</body>

</html>